.checkout_ivy{
    width: 100%;
    text-transform: uppercase;
    background-color: var(--wp--preset--color--primary);
    color: #fff;
    opacity: 1;
    display: inline-block;
    text-align: center;
    word-break: break-word;
    background-color: var(--wp--preset--color--primary);
    color: #fff;
    border: 1px solid var(--wp--preset--color--black);
    padding: 1rem 2rem;
    margin-top: 1rem;
    text-decoration: none;
    font-size: medium;
}
.checkout_ivy:hover{
    text-decoration: underline;

}
